SUPABASE_URL=https://nralmeurvynjpnccbeddx.supabase.co
SUPABASE_KEY=
HF_API_TOKEN=
HF_API_BASE_URL=https://api-inference.huggingface.co/models
HF_SUMMARY_MODEL=facebook/bart-large-cnn
HF_QA_MODEL=deepset/roberta-base-squad2
HF_EMBEDDING_MODEL=sentence-transformers/all-mpnet-base-v2
HF_NER_MODEL=dslim/bert-base-NER
HF_TIMEOUT=60
HF_MAX_RETRIES=3
HF_SUMMARY_MAX_CHARS=12000
HF_NER_MAX_CHARS=12000
HF_QA_MAX_CHARS=8000
DUMMY_USER_ID=
SUPABASE_BUCKET=
